node_modules/
frontend/node_modules/
backend/node_modules/

.env
.env.local
.env.*
*.local

! .env.example

dist/
build/
out/

.DS_Store
Thumbs.db
.vscode/
.idea/

npm-debug.log*
yarn-debug.log*
logs/
*.log